# Notebook 2
## in this nootbook we will work on cast.csv dataset and implement some basic python program

In [3]:
num = 121
if(num%2 == 0):
    ans = "0"
else:
    ans = "1"
while num > 0:
    num = int(num / 2)
    ans = str(num%2) + ans

print(ans)

01111001


## import cast.csv

In [5]:
import pandas as pd
cast = pd.read_csv('data/cast.csv')
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

## Q1:

In [30]:
Hamlet_filt = cast['title'] == 'Hamlet' # This filter find only Hamlet movie.
Hamlet_drop =  cast[Hamlet_filt].drop_duplicates(subset = 'year', keep = 'first')
Hamlet_count = Hamlet_drop['title'].count()
print("Ther are:", Hamlet_count ,"movies that have the title Hamlet." )

Ther are: 17 movies that have the title Hamlet.

## Q2: 
### list of "Treasure Island" movies from earliest to most recent.

In [24]:
filt = cast['title'] == 'Treasure Island' # This filter find only Treasure Island movie.
Treasure = cast[filt]
Treasure.sort_values(by= 'year')

,title,year,name,type,character,n
1312766,Treasure Island,1918,Herschel Mayall,actor,Prologue Player,NaN
3280557,Treasure Island,1918,Eleanor Washington,actress,Prologue Player,NaN
3046750,Treasure Island,1918,Violet Radcliffe,actress,Long John Silver,3.0
1167783,Treasure Island,1918,Raymond Lee,actor,Bit Role,NaN
1195421,Treasure Island,1918,Elmo Lincoln,actor,Prologue Player,NaN
...,...,...,...,...,...,...
1663860,Treasure Island,1999,Victor Raider-Wexler,actor,Samowitz,10.0
1731182,Treasure Island,1999,Scot Thomas Robinson,actor,Jimmy,11.0
1813707,Treasure Island,1999,Richard Schave,actor,Man,21.0
2710458,Treasure Island,1999,Stephanie Ittleson,actress,Stella,7.0
815338,Treasure Island,1999,Rio Hackford,actor,Hans,23.0

## Q3:

In [25]:
Hamlet = cast[Hamlet_filt] # use Hamlet_filt to find Hamlet movie.
filt_2 = Hamlet['year'] == 1921 # this filter shows movies from 1921
Hamlet21 = Hamlet[filt_2]
Hamlet_roles = actor['name'].count()
print( "roles were credited in the silent 1921 version of Hamlet" ,9 )

roles were credited in the silent 1921 version of Hamlet 9

## Q4:

In [42]:
Hamlet_by_decade =Hamlet_drop.groupby(Hamlet_drop['year']//10*10) # Group by decade
Hamlet_by_decade['title'].count()

year
1910    3
1920    1
1940    1
1950    1
1960    2
1970    2
1980    1
1990    2
2000    2
2010    2
Name: title, dtype: int64